* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #3e6807;
  flex-direction: column;
  align-items: center;
}
.header-top {
  background-color: #3e6807;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.header-top-left {
  align-items: center;
  flex: 1;
}
.header-top-left img {
  width: 220px;
  height: auto;
}

.header-top-main {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
}
.header-top-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.menu {
  margin-bottom: 10px;
  display: flex;
  flex: 1;
  align-items: flex-end;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.search-box {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-box input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  font-style: italic;
  font-size: 14px;
  outline: none;
}

.search-box button {
  background: none;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}

.search-box i {
  font-size: 16px;
  color: #3d640f;
}

.cart-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.cart-link span {
  margin-left: 15px;
  font-size: 16px;
  width: 70px;
}
