* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-image: repeating-linear-gradient(
    45deg,
    #3e6807,
    #4a7305 10px,
    #3e6807 10px,
    #3e6807 10px
  );
  color: white;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: -15px auto;
}
.header-top-left {
  align-items: center;
  flex: 1;
}
.header-top-left img {
  width: 100%;
  height: auto;
}

.header-top-main {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 3;
}
.header-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.menu {
  margin-bottom: 10px;
  display: flex;
  flex: 1;
  align-items: flex-end;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
  font-family: "Inter", serif;
}

.search-box {
  display: flex;
  width: 95%;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-box input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  font-style: italic;
  font-size: 14px;
  outline: none;
  font-family: "Inter", serif;
}

.search-box button {
  background: none;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}

.search-box i {
  font-size: 16px;
  color: #3d640f;
}

.cart-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.cart-link span {
  margin-left: 10px;
  font-size: 16px;
  width: 80px;
  line-height: 20px;
  font-weight: bold;
  font-family: "Inter", serif;
  color: white;
}
.cart-link:hover {
  color: white;
  text-decoration: none;
}

.header-top-right span:hover {
  color: white;
  text-decoration: none;
}
.header-top-right .cart a i {
  font-size: 24px;
  color: white;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

/* Header-bottom */
.pure-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  transition: top 0.3s ease-in-out;
  width: 100%;
  margin-top: 15px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f3f3;
  z-index: 1000;
}
.title-san-pham a {
  color: white;
  font-family: "Inter", serif;
  font-size: 16px;
}

.pure-item-left ul li a {
  color: #3d640f;
  font-family: "Inter", serif;
  font-size: 16px;
}

.fa-greater-than {
  color: #3d640f;
  font-size: 12px;
  margin-left: 5px;
  opacity: 0.7;
}

/* .pure-list li a:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
} */

.pure-item {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  color: #000;
  top: 40px;
  z-index: 1000;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}
.pure-item-left {
  width: 20%;
}
.pure-list-item li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pure-list-item li a:hover {
  color: #3d640f;
  text-decoration: none;
}
.pure-list-item:nth-child(1):hover #tab-2{
  background-color: #90c54b;
  display: none;
}
.pure-list-item-product {
  display: flex;
}

/* pure-right */
.pure-item-right {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  border-left: 1px solid #ddd;
  justify-items: center;
  align-items: center;
  background-color: #f9f9f9;
  display: none;
}
.pure-item-right-content-skin {
  width: calc(95% - 10px);
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}
.pure-item-right-content-skin:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.pure-item-right-content-skin p {
  text-decoration: none;
  font-family: "Inter", serif;
  font-size: 16px;
  color: #3d640f;
  margin-top: 5px;
  font-weight: normal;
}
.pure-item-right-content-skin img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
.pure-item-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-family: "Inter", serif;
}

.pure-item-price-info .price {
  font-size: 16px;
  font-weight: bold;
  color: #3d640f;
}
.pure-item-price-info .old-price {
  text-decoration: line-through;
  color: #999;
}
/* .pure-item {
  display: none;
} */
.title-san-pham:hover .pure-item {
  display: flex !important;
}
/* Hover vào chính nó */

.pure-item-left ul li:hover {
  background-color: #90c54b;
}
/* Hover toàn bộ menu thì sáng item đầu */
.title-san-pham:hover li:first-child {
  background-color: #90c54b;
}
/* Hover toàn bộ menu thì hiển thị sản phẩm */
.title-san-pham:hover .pure-item-right {
  display: grid !important;
}

/* Nhưng nếu hover vào các mục khác => không active li:first-child */
.pure-item-left:has(li:hover:not(:first-child)) li:first-child {
  background-color: transparent !important;
}



/* Sale - combo chăm sóc tóc */
