<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <style></style>
  <body>
    <div class="Container-fluid">
      <div class="header">
        <div class="header-top">
          <div class="header-top-left">
            <img src="../../public/img/logo.png" alt="Logo" />
          </div>
          <div class="header-top-main">
            <div class="menu">
              <a href="#">Kem Chống Nắng</a>
              <span>|</span>
              <a href="#">Tẩy Trang</a>
              <span>|</span>
              <a href="#">Toner</a>
              <span>|</span>
              <a href="#">Son màu</a>
              <span>|</span>
              <a href="#">Dầu Gội</a>
            </div>
            <div class="search-box">
              <input
                type="text"
                placeholder="Tìm sản phẩm, danh mục mong muốn ..."
              />
              <button><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="header-top-right">
            <div class="cart">
              <a href="/cart" class="cart-link">
                <i class="fas fa-home"></i>
                <span>Hệ thống cửa hàng</span></a
              >
            </div>
            <div class="cart">
              <a href="/cart"><i class="fas fa-heart"></i></a>
            </div>
            <div class="cart">
              <a href="/profile"><i class="fas fa-user"></i></a>
            </div>
            <div class="cart">
              <a href="/cart" class="cart-link">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Header-bottom -->
        <div class="header-bottom">
          <ul class="pure-list" id="pure-list">
            <li class="title-san-pham">
              <a href="trangchu.html">Sale</a>
              <div class="pure-item">
                <div class="pure-item-left">
                  <ul class="pure-list-item">
                    <li data-tab="tab-1" class="combo">
                      <a href="#">Combo chăm sóc da</a>
                      <i class="fas fa-greater-than"></i>
                      <!-- Combo chăm sóc da -->
                      <div class="pure-item-right" id="tab-1" class="content">
                        <div class="pure-item-right-content-skin">
                          <a>
                            <img
                              src="../../public/img/combo-cham-soc-da-1.webp"
                              alt=""
                            />
                          </a>
                          <a href=""
                            ><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a
                          >
                          <div class="pure-item-price-info">
                            <span class="price">1.200.000đ</span>
                            <span class="old-price">1.500.000đ</span>
                          </div>
                        </div>
                        <div class="pure-item-right-content-skin">
                          <a>
                            <img
                              src="../../public/img/combo-cham-soc-da-1.webp"
                              alt=""
                            />
                          </a>
                          <a href=""
                            ><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a
                          >
                          <div class="pure-item-price-info">
                            <span class="price">1.200.000đ</span>
                            <span class="old-price">1.500.000đ</span>
                          </div>
                        </div>
                        <div class="pure-item-right-content-skin">
                          <a>
                            <img
                              src="../../public/img/combo-cham-soc-da-1.webp"
                              alt=""
                            />
                          </a>
                          <a href=""
                            ><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a
                          >
                          <div class="pure-item-price-info">
                            <span class="price">1.200.000đ</span>
                            <span class="old-price">1.500.000đ</span>
                          </div>
                        </div>
                        <div class="pure-item-right-content-skin">
                          <a>
                            <img
                              src="../../public/img/combo-cham-soc-da-1.webp"
                              alt=""
                            />
                          </a>
                          <a href=""
                            ><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a
                          >
                          <div class="pure-item-price-info">
                            <span class="price">1.200.000đ</span>
                            <span class="old-price">1.500.000đ</span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li data-tab="tab-2">
                      <a href="#">Combo chăm sóc tóc</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                    <li data-tab="tab-3">
                      <a href="#">Combo chăm sóc môi</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                    <li data-tab="tab-4">
                      <a href="#">Combo khác</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                    <li data-tab="tab-5">
                      <a href="#">Black Green Day</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                  </ul>
                </div>
                <!-- Combo chăm sóc da -->
                <!-- <div class="pure-item-right" id="tab-1" class="content">
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                </div> -->
                <!-- Combo chăm sóc tóc -->
                <!-- <div class="pure-item-right" id="tab-2">
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                </div> -->
              </div>
            </li>
            <!-- title-san-pham -->
            <li class="title-san-pham">
              <a href="trangchu.html">Trang Điểm</a>
              <div class="pure-item">
                <div class="pure-item-left">
                  <ul class="pure-list-item">
                    <li>
                      <a href="#">Combo chăm sóc da</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                    <li>
                      <a href="#">Combo chăm sóc tóc</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                    <li>
                      <a href="#">Combo chăm sóc môi</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                    <li>
                      <a href="#">Combo khác</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                    <li>
                      <a href="#">Black Green Day</a>
                      <i class="fas fa-greater-than"></i>
                    </li>
                  </ul>
                </div>
                <div class="pure-item-right">
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                  <div class="pure-item-right-content-skin">
                    <a>
                      <img
                        src="../../public/img/combo-cham-soc-da-1.webp"
                        alt=""
                      />
                    </a>
                    <a href=""><p>Combo Kem Dưỡng Ẩm, Serum tơ tằm...</p></a>
                    <div class="pure-item-price-info">
                      <span class="price">1.200.000đ</span>
                      <span class="old-price">1.500.000đ</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Da</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Tóc</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Làm Đẹp Đường Uống</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Cơ Thể</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Em Bé</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Hương Thơm</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Quà Tặng</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Bộ Sản Phẩm</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Về Aura Beauty</a>
            </li>
            <li class="title-san-pham">
              <a href="trangchu.html">Khác</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
